# Climate-Driven Disease Outbreak Prediction

## Importing Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## Load The Dataset

In [12]:
df = pd.read_csv("../Data/processed/India_Climate_Disease_Merged.csv")

## Explore The Dataset

In [ ]:
# Check first few rows
print("Preview of dataset:")
display(df.head())

Preview of dataset:

   Year  DengueCases  MalariaIncidence  TempAnomaly  Humidity  Precipitation
0  2000          650         19.956696     0.322667     60.98        1057.70
1  2001         3306         19.898292     0.430417     61.17        1037.87
2  2002         1926         18.464534     0.770250     61.20         929.22
3  2003        12754         19.357800     0.511250     60.89        1061.99
4  2004         4153         21.221604     0.516083     60.91        1038.25

In [ ]:
# Info about columns and datatypes
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              24 non-null     int64
 1   DengueCases       24 non-null     int64
 2   MalariaIncidence  24 non-null     float64
 3   TempAnomaly       21 non-null     float64
 4   Humidity          24 non-null     float64
 5   Precipitation     24 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 1.3 KB
None

In [ ]:
# Descriptive statistics
print("\nDescriptive Statistics:")
display(df.describe())

Descriptive Statistics:

,Year,DengueCases,MalariaIncidence,TempAnomaly,Humidity,Precipitation
count,24.000000,24.000000,24.000000,21.000000,24.000000,24.000000
mean,2011.500000,70221.125000,11.998337,0.607798,60.902500,1128.032500
std,7.071068,84320.358988,7.388593,0.243038,0.166453,91.244665
min,2000.000000,650.000000,1.516313,0.313417,60.510000,929.220000
25%,2005.750000,12234.000000,4.657076,0.430417,60.805000,1060.917500
50%,2011.500000,28612.500000,13.234068,0.516083,60.875000,1127.125000
75%,2017.250000,108185.500000,18.181448,0.770250,61.040000,1185.402500
max,2023.000000,289235.000000,22.480590,1.060750,61.200000,1301.330000

In [ ]:
# Missing values check
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
Year                0
DengueCases         0
MalariaIncidence    0
TempAnomaly         3
Humidity            0
Precipitation       0
dtype: int64