# Climate-Driven Disease Outbreak Prediction

## Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Load The Dataset

In [2]:
df = pd.read_csv("../Data/climate_disease_dataset.csv")

## Explore The Dataset

In [3]:
# Check first few rows
print("Preview of dataset:")
display(df.head())

Preview of dataset:

,year,month,country,region,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
0,2000,1,American Samoa,East,24.046880,275.221450,32.664808,10.092419,7,36,289,4667
1,2000,2,American Samoa,East,27.865871,257.518897,6.549863,9.489863,136,120,289,4667
2,2000,3,American Samoa,East,27.185394,118.270513,26.385328,12.000000,53,79,289,4667
3,2000,4,American Samoa,East,25.036525,179.148943,12.735504,12.000000,34,82,289,4667
4,2000,5,American Samoa,East,24.675325,228.473663,10.127494,12.000000,85,128,289,4667

In [4]:
# Info about columns and datatypes
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34560 entries, 0 to 34559
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                34560 non-null  int64
 1   month               34560 non-null  int64
 2   country             34560 non-null  object
 3   region              34560 non-null  object
 4   avg_temp_c          34560 non-null  float64
 5   precipitation_mm    34560 non-null  float64
 6   air_quality_index   34560 non-null  float64
 7   uv_index            34560 non-null  float64
 8   malaria_cases       34560 non-null  int64
 9   dengue_cases        34560 non-null  int64
 10  population_density  34560 non-null  int64
 11  healthcare_budget   34560 non-null  int64
dtypes: float64(4), int64(6), object(2)
memory usage: 3.2+ MB
None

In [5]:
# Descriptive statistics
print("\nDescriptive Statistics:")
display(df.describe())

Descriptive Statistics:

,year,month,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
count,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000,34560.000000
mean,2011.500000,6.500000,20.395234,192.667977,43.787766,10.210855,70.519560,75.941464,266.900000,2764.650000
std,6.922287,3.452102,8.410940,90.503990,33.079697,1.936540,46.130774,37.323807,136.001073,1418.119148
min,2000.000000,1.000000,-2.557056,0.000000,0.000000,0.870704,0.000000,0.000000,50.000000,205.000000
25%,2005.750000,3.750000,14.404089,124.641424,15.322767,8.921094,32.000000,48.000000,136.250000,1435.500000
50%,2011.500000,6.500000,20.351749,195.315309,40.685931,10.760990,69.000000,76.000000,277.500000,2859.000000
75%,2017.250000,9.250000,26.342978,260.147603,68.402041,12.000000,107.000000,104.000000,384.750000,3996.750000
max,2023.000000,12.000000,44.583564,485.704079,168.847690,12.000000,201.000000,181.000000,498.000000,4969.000000

In [6]:
# Missing values check
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
year                  0
month                 0
country               0
region                0
avg_temp_c            0
precipitation_mm      0
air_quality_index     0
uv_index              0
malaria_cases         0
dengue_cases          0
population_density    0
healthcare_budget     0
dtype: int64